<ion-content padding id="home_page">
  <img class="header_image" src="../assets/imgs/brand.png"/>
  <h2 class="mtitle">View / Edit Device</h2>

<ion-col col-12>
    <h3 class="text_center" >Focus the hub or sensors QR code in the window below to edit its location.</h3>
    <div class="qrscaner">
    </div>
    <ion-grid class="dsah_imag">
      <button ion-button color="secondary" full (click) = scan2() large> Capture QR Code </button>
    </ion-grid>

      <!-- <div *ngFor="let item of loc">
        <div *ngIf="text == item.qrcode && item.type == 'sensor'  ? dsensor() : end" >
            
        </div>
      </div>

      <ion-card *ngFor="let item of loc">
        <p *ngIf="text == item.qrcode && item.type == 'hub' ? dhub() : end"> </p>
      </ion-card> -->

      <!-- <ion-item *ngFor="let item of loc" *ngIf="text == loc.qrcode && loc.type == 'sensor' ? dsensor() : end"></ion-item> -->


        <!-- <ng-template #elsetag>
          <div>
            {{item.type}}
          </div>
        </ng-template> -->
      
     <!-- <h2> {{text.text}}</h2> -->

</ion-col>
<!-- <ion-col col-12 class="text_center" >
  <button ion-button full color="secondary" (click) = dsensor() >If Sensor Selected</button>
  <button ion-button full color="dark" (click) = dhub()>If HUB Selected</button>
</ion-col> -->

</ion-content>
