page-dashboard {
    .dsah_imag img {
        border-radius: 10px;
        height: 100px;
        width: 110px;
        border: 1px solid #ddd;
        background-color: #ddd;
    }
    .header_image
    {
        height: 27px;
    }
    .dsah_imag {
        padding: 10% 10% 0;
        text-align: -webkit-center;
    }
    .dsah_imag p {
        margin: 0 0 10px 0;
    }

}
