<ion-content padding id="home_page" >
  <img class="header_image" src="../assets/imgs/brand.png"/>
  
      <ion-row>
          <ion-col col-12>
          <ion-searchbar class="assets_search"></ion-searchbar>
          <button ion-button color="secondary" class="right" >Expand</button>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
                <h6>Location</h6>
                <ion-list class="accordion-list">
                        <!-- First Level -->
                        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
                          <!-- Toggle Button -->
                          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                              {{ item.name }}
                            <ion-icon item-left name="add" *ngIf="!item.open"></ion-icon>
                            <ion-icon item-left name="remove" *ngIf="item.open"></ion-icon>
                          </button>
                    
                          <ion-list *ngIf="item.children && item.open" no-lines>
                            <!-- Second Level -->
                            <ion-list radio-group >

                            <ion-item *ngFor="let child of item.children">
                              <ion-label>{{ child.name }} </ion-label>
                              <ion-radio  value="{{ item.name }} {{ child.name }} "></ion-radio>
                            </ion-item>

                            </ion-list>

                          </ion-list>
                          
                        </ion-list-header>
                      </ion-list>
            
        </ion-col>

    
      <ion-col col-12>
      <ion-grid class="dsah_imag">
        <button ion-button color="secondary" full (click)=regsen4() large>Select</button>
      </ion-grid>
      </ion-col>
    
    </ion-row>
 
</ion-content>
